<mat-spinner *ngIf="spinner" style="margin: 14% auto"></mat-spinner>
<div class="row">
  <mat-grid-list class="grid" [cols]="colsSize()" rowHeight="400px">
    <mat-grid-tile
      class="grid-tile"
      *ngFor="let pokes of pokeArray | paginate : config"
      [colspan]="1"
      [rowspan]="1"
    >
      <mat-card
        class="card"
        *ngFor="let types of pokes.types"
        [style.backgroundColor]="bgColor(types)"
      >
        <mat-card-header class="d-flex justify-content-center">
          <mat-card-title>{{ pokes.name | titlecase }}</mat-card-title>
        </mat-card-header>

        <img
          src="{{ pokes.image }}"
          style="
            width: 150px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
          "
        />
        <div
          *ngFor="let types of pokes.types"
          class="d-flex justify-content-center"
          [style.backgroundColor]="bgColor(types)"
        >
          <span>{{ types.type1 | titlecase }}</span
          ><span *ngIf="types.type2">/{{ types.type2 | titlecase }}</span>
        </div>
        <mat-card-content>
          <span>HP</span>
          <div class="d-flex justify-content-center">
            <div class="progress w-100">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                [ngStyle]="{ width: pokes.health + '%' }"
              >
                {{ pokes.health }}
              </div>
            </div>
            <br />
          </div>
          <span>Attack</span>
          <div class="d-flex justify-content-center">
            <div class="progress w-100">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                [ngStyle]="{ width: pokes.attack + '%' }"
              >
                {{ pokes.attack }}
              </div>
            </div>
            <br />
          </div>
          <span>Defense</span>
          <div class="d-flex justify-content-center">
            <div class="progress w-100">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                [ngStyle]="{ width: pokes.defense + '%' }"
              >
                {{ pokes.defense }}
              </div>
            </div>
          </div>
          <br />

          <!--<mat-card-footer>
            <mat-divider></mat-divider>
            <mat-grid-list cols="2" rowHeight="25px">
              <mat-grid-tile
                *ngFor="let pokeMoves of pokes.moves"
                matTooltip="{{ pokeMoves.moveName }}"
                [colspan]="1"
                [rowspan]="1"
              >
                {{ pokeMoves.moveName | slice : 0 : 12 }}
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-footer> -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <pagination-controls
    *ngIf="!spinner"
    id="basicPaginate"
    (pageChange)="pageChanged($event)"
  ></pagination-controls>
</div>
